{% extends "base.html.twig" %}

{% block body %}
<div class="container">
  <h1 class="text-danger">Do you really want to delete this event?</h1>
  <p class="text-danger">This action cannot be undone!</p>
  <h2 class="page-header">{{event.title}}</h2>
  <p class="text-muted">{{event.subtitle}}</p>

  <ul class="list-group">
    <li class="list-group-item">Type: {{event.type}}</li>
    <li class="list-group-item">Date: <strong> {{event.date | date("D, d M Y")}} </strong> </li>
    <li class="list-group-item">Location: {{event.location.name}}</li>
    <li class="list-group-item">Address: {{event.location.address}}</li>
  </ul>
  <p class="lead">{{event.lead}}</p>
  <p>{{event.description | raw}}</p>
  <img src="{{asset("img/" ~ event.img)}}">
  <br>
  
  <a class="btn btn-danger" href="/remove/{{event.id}}">Delete</a>
  <a class="btn btn-warning" href="/">Cancel</a>
</div>
{% endblock %}